<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
version="6.0">
  <display-name>ppoldruga_aplikacija_2</display-name>
   <filter>
        <filter-name>FilterAP2</filter-name>
        <filter-class>org.foi.nwtis.ppoldruga.projekt.filter.FilterAP2</filter-class>
    </filter>
   <listener>
    <listener-class>org.foi.nwtis.ppoldruga.projekt.slusaci.KontekstSlusac</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <context-param>
  	<param-name>konfiguracija</param-name>
  	<param-value>NWTiS.db.config_2.xml</param-value>
  </context-param>
</web-app>